<div style="width: 40%; text-align: center;margin: auto">
  <img src="assets/images/logo-blu.svg"/>
</div>
<h2 style="text-align: center">xtream validation errors lazy</h2>
<div class="text-center">
  <button (click)="chooseLanguage('en')" class="btn btn-primary mr-2">en</button>
  <button (click)="chooseLanguage('it')" class="btn btn-secondary">it</button>
</div>
<form [formGroup]="heroForm" #firstForm validationContext="NEW_HERO" innerValidationError="true">
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name"/>
  </div>
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Surmane</label>
    <input class="form-control" formControlName="surname"/>
  </div>
  <div ngxValidationErrorsArray>
    <div formArrayName="checkBoxes" class="form-group">
      <div *ngFor="let check of boxesInfo; let i = index">
        <input type="checkbox" id="check_{{i}}" [formControlName]="i">
        <label for="check_{{i}}" id="label_check_{{i}}">{{boxesInfo[i]}}</label>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="heroForm.invalid" style="margin-right: 15px">Submit</button>
  <button class="btn btn-secondary" (click)="clearForm()">Clear</button>

</form>


<form [formGroup]="heroForm" validationContext="USER.REGISTRATION">
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name"/>
  </div>
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Surmane</label>
    <input class="form-control" formControlName="surname"/>
  </div>
  <button class="btn btn-primary" [disabled]="heroForm.invalid">Submit</button>

</form>

