
<h2>xtream validation errors</h2>
<form [formGroup]="heroForm" validationContext="NEW_HERO">
  <div formFieldContainer class="input-wrapper form-group">
    <label>Name</label>
    <input class="form-control" formField formControlName="name"/>
  </div>
  <div formFieldContainer class="input-wrapper form-group">
    <label>Surmane</label>
    <input class="form-control" formField formControlName="surname"/>
  </div>
  <button class="btn btn-primary" [disabled]="heroForm.invalid">Submit</button>

</form>


<form [formGroup]="heroForm" validationContext="USER.REGISTRATION">
  <div formFieldContainer class="input-wrapper form-group">
    <label>Name</label>
    <input class="form-control" formField formControlName="name"/>
  </div>
  <div formFieldContainer class="input-wrapper form-group">
    <label>Surmane</label>
    <input class="form-control" formField formControlName="surname"/>
  </div>
  <button class="btn btn-primary" [disabled]="heroForm.invalid">Submit</button>

</form>

