
<div style="width: 40%; text-align: center;margin: auto">
  <img src="assets/images/logo-blu.svg"/>
</div>
<h2 style="text-align: center">xtream validation errors</h2>
<form [formGroup]="heroForm" [appFormSubmit]="heroForm" #firstForm validationContext="NEW_HERO" innerValidationError="true">
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name"/>
  </div>
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Surmane</label>
    <input class="form-control" formControlName="surname"/>
  </div>
  <button class="btn btn-primary">Submit</button>
  <button class="btn btn-primary" type="button" (click)="reset()" )>Rest</button>

</form>


<form [formGroup]="heroForm" validationContext="USER.REGISTRATION">
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name"/>
  </div>
  <div ngxValidationErrorsField class="input-wrapper form-group">
    <label>Surmane</label>
    <input class="form-control" formControlName="surname"/>
  </div>
  <button class="btn btn-primary" [disabled]="heroForm.invalid">Submit</button>

</form>

